#title {
    background-color: #ff4c68;
    color: white;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 305;

}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15%;
}

/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;

}

.nav-items {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* buttons */
.btn {
    margin: 5% 3% 5% 0;
}


/* features */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #EF8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */
#testimonials {
    background-color: #EF8172;
    text-align: center;

}

#testimonials h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

#testimonials em {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 30px;
}

.carousel-item {
    padding: 7% 15%;

}

/* press */
#press {
    background-color: #EF8172;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* call to action */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#cta h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.footer-icon {
    margin: 20px 10px;
}


/* Media Query */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 40%;
    }


}